# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.pyc

# Base de données locale temporaire
db.sqlite3

# Outils qualité du code
.mypy_cache/
.pytest_cache/
.cache/

# Fichiers médias uploadés par les utilisateurs
media/