<div class="card mb-5">
    <div class="card-body">
        <p class="text-muted">
            {% if review.user == user %}
                <span class="username-highlight">Vous</span> avez publié une critique
            {% else %}
                <span class="username-highlight">{{ review.user.username }}</span>
                a publié une critique
            {% endif %}
            le {{ review.time_created|date:"d/m/y à H:i" }}
        </p>

        <h3 class="card-title">
            {{ review.headline }} - {{ review.rating }}/5
        </h3>

        {% if review.body %}
            <p class="card-text">{{ review.body }}</p>
        {% endif %}

        <div class="mt-4">
            <p class="text-muted mb-2">Livre ou article critiqué :</p>

            {% include "pages/temp_partiels/ticket_reponse.html" with ticket=review.ticket %}
        </div>
    </div>
</div>