<div class="card mb-5">
    <div class="card-body">
        <p class="text-muted">
            {% if ticket.user == user %}
                Vous avez demandé une critique
            {% else %}
                {{ ticket.user.username }} a demandé une critique
            {% endif %}
            le {{ ticket.time_created|date:"d/m/y à H:i" }}
        </p>

        <h3 class="card-title">{{ ticket.title }}</h3>

        {% if ticket.description %}
            <p class="card-text">{{ ticket.description }}</p>
        {% endif %}

        {% if ticket.image %}
            <img
                src="{{ ticket.image.url }}"
                alt="Image associée au ticket {{ ticket.title }}"
                class="img-fluid rounded mt-5"
            >
        {% endif %}


        {% if ticket.id not in tickets_deja_critiques %}
            <p class="mt-3">
                <a
                    href="{% url 'creer_critique' ticket.id %}"
                    class="btn btn-primary"
                >
                    Créer une critique
                </a>
            </p>
        {% endif %}

    </div>
</div>