{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Abonnements</h1>

    <h2>Suivre d'autres utilisateurs</h2>

    <form method="post" class="mb-4">
        {% csrf_token %}

        {{ formulaire_abonnement|crispy }}

        <button type="submit" class="btn btn-primary">Suivre</button>
    </form>


    <h2>Utilisateurs suivis</h2>

    {% for utilisateur_suivi in utilisateurs_suivis %}
        <div class="mb-3">
            <p class="mb-1">{{ utilisateur_suivi.username }}</p>

            <form
                method="post"
                action="{% url 'desabonnement' utilisateur_suivi.id %}"
            >
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">
                    Se désabonner
                </button>
            </form>
        </div>
    {% empty %}

        <p>Vous ne suivez personne pour le moment.</p>
    {% endfor %}

    <p>
        <a href="{% url 'accueil' %}">Retour vers l'accueil</a>
    </p>
{% endblock content %}