{% extends "pages/base.html" %}

{% block content %}
    <h1>LITRevu</h1>

    <p>Bienvenue.</p>

    <p>
        <a href="{% url 'creer_ticket' %}" class="btn btn-primary">
            Créer une demande d'avis
        </a>
    </p>

    <h2>Mes demandes d'avis</h2>

    {% for ticket in tickets_utilisateur %}
        {% include "pages/temp_partiels/ticket.html" %}
    {% empty %}
        <p>Vous n'avez pas encore créé de demande d'avis.</p>
    {% endfor %}

    <p>
        <a href="{% url 'deconnexion' %}">Se déconnecter</a>
    </p>
{% endblock content %}