{% extends "pages/base.html" %}

{% block content %}
    <div class="welcome-box">
        <h1>LITRevu</h1>

        <p>
            Bienvenue,
            <span class="username-highlight">{{ user.username }}</span> !
        </p>
    </div>

    <p class="text-center">
        <a href="{% url 'creer_ticket' %}" class="btn btn-primary">
            Demander une critique
        </a>

        <a href="{% url 'creer_critique_avec_ticket' %}" class="btn btn-primary">
            Créer un ticket avec sa critique
        </a>
    </p>

    <h2>Publications</h2>

    {% for publication in publications %}
        {% if publication.categorie == "ticket" %}
            {% include "pages/temp_partiels/ticket.html" with ticket=publication.objet %}
        {% elif publication.categorie == "critique" %}
            {% include "pages/temp_partiels/review.html" with review=publication.objet %}
        {% endif %}
    {% empty %}
        <p>Aucune publication à afficher pour le moment.</p>
    {% endfor %}
{% endblock content %}