{% extends "pages/base.html" %}

{% block content %}
    <h1>Supprimer votre critique</h1>

    <p>Êtes-vous certain de vouloir supprimer cette critique ?</p>

    {% include "pages/temp_partiels/review.html" with review=critique %}

    <form
        method="post"
        action="{% url 'supprimer_critique' critique.id %}"
    >
        {% csrf_token %}

        <button type="submit" class="btn btn-primary">
            Confirmer la suppression
        </button>
    </form>

    <p class="mt-3">
        <a href="{% url 'mes_posts' %}">Annuler et retourner à mes posts</a>
    </p>
{% endblock content %}