{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>LITRevu</h1>

    <h2>Connexion</h2>

    <form method="post" class="mb-4">
        {% csrf_token %}

        {{ formulaire_connexion|crispy }}

        <button type="submit" class="btn btn-primary">
            Se connecter
        </button>
    </form>

    <div class="text-center">
        <p class="mb-2">Vous n'avez pas encore de compte ?</p>

        <a href="{% url 'inscription' %}" class="btn btn-primary">
            S'inscrire
        </a>
    </div>
{% endblock content %}