{% extends "pages/base.html" %}

{% block content %}
    <h1>Mes posts</h1>

    {% for publication in publications %}
        {% if publication.categorie == "ticket" %}
            {% include "pages/temp_partiels/ticket_reponse.html" with ticket=publication.objet %}

            <p>
                <a
                    href="{% url 'modifier_ticket' publication.objet.id %}"
                    class="btn btn-primary"
                >
                    Modifier
                </a>

                <a
                    href="{% url 'confirmer_suppression_ticket' publication.objet.id %}"
                    class="btn btn-primary"
                >
                    Supprimer
                </a>

            </p>
                {% elif publication.categorie == "critique" %}
            {% include "pages/temp_partiels/review.html" with review=publication.objet %}

            <p>
                <a
                    href="{% url 'modifier_critique' publication.objet.id %}"
                    class="btn btn-primary"
                >
                    Modifier
                </a>

                <a
                    href="{% url 'confirmer_suppression_critique' publication.objet.id %}"
                    class="btn btn-primary"
                >
                    Supprimer
                </a>
            </p>
        {% endif %}
    {% empty %}
        <p>Vous n'avez encore publié aucun contenu.</p>
    {% endfor %}
{% endblock content %}