{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Modifier votre critique</h1>

    <h2>Vous modifiez une critique en réponse à :</h2>

    {% include "pages/temp_partiels/ticket_reponse.html" with ticket=critique.ticket %}

    <form method="post">
        {% csrf_token %}

        {{ formulaire_critique|crispy }}

        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
    </form>

    <p class="mt-3">
        <a href="{% url 'mes_posts' %}">Retour à mes posts</a>
    </p>
{% endblock content %}